In [1]:
import pandas as pd
import warnings as wr# Ignore  the warnings
import warnings
warnings.filterwarnings('always')
warnings.filterwarnings('ignore')

# data visualisation and manipulation
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
from matplotlib import style
import seaborn as sns
from matplotlib import rcParams

#import the necessary modelling algos.

#classifiaction.
from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC,SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier,AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
 

#regression
from sklearn.linear_model import LinearRegression,Ridge,Lasso,RidgeCV
from sklearn.ensemble import RandomForestRegressor,BaggingRegressor,GradientBoostingRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor

#model selection
from sklearn.model_selection import train_test_split,cross_validate
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV

#preprocessing
from sklearn.preprocessing import MinMaxScaler,StandardScaler,Imputer,LabelEncoder

#evaluation metrics
from sklearn.metrics import mean_squared_log_error,mean_squared_error, r2_score,mean_absolute_error # for regression
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score  # for classification

In [2]:
names=['Loan_ID','Gender','Married','Dependents','Education','Self_Employed','Applicant_Income','Coapplicant_Income','Loan_Amount','Loan_Amount_Term','Credit_History','Property_Area','Loan_Status']
data=pd.read_csv("loanpred.csv", names=names)

df = data.head(100)

In [3]:

df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,Applicant_Income,Coapplicant_Income,Loan_Amount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128,360,1,Rural,N
1,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66,360,1,Urban,Y
2,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120,360,1,Urban,Y
3,LP001008,Male,No,0,Graduate,No,6000,0.0,141,360,1,Urban,Y
4,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267,360,1,Urban,Y

In [4]:
df.describe()

,Applicant_Income,Coapplicant_Income,Loan_Amount,Loan_Amount_Term,Credit_History
count,100.000000,100.000000,100.000000,100.000000,100.000000
mean,4422.610000,1793.850000,136.100000,337.200000,0.860000
std,2705.917906,2092.857316,64.862637,70.210074,0.348735
min,1000.000000,0.000000,17.000000,60.000000,0.000000
25%,2778.750000,0.000000,99.750000,360.000000,1.000000
50%,3707.500000,1521.000000,125.500000,360.000000,1.000000
75%,4908.750000,2608.250000,167.250000,360.000000,1.000000
max,14583.000000,10968.000000,349.000000,480.000000,1.000000

In [5]:
df.isnull().any().sum()

0

In [6]:
df.columns.str.title()

Index(['Loan_Id', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'Applicant_Income', 'Coapplicant_Income',
       'Loan_Amount', 'Loan_Amount_Term', 'Credit_History', 'Property_Area',
       'Loan_Status'],
      dtype='object')

## Combining Applicant_Income and Coapplicant_Income

In [7]:
income =  df['Applicant_Income'] + df['Coapplicant_Income' ]
df['Income']= income
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,Applicant_Income,Coapplicant_Income,Loan_Amount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,Income
0,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128,360,1,Rural,N,6091.0
1,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66,360,1,Urban,Y,3000.0
2,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120,360,1,Urban,Y,4941.0
3,LP001008,Male,No,0,Graduate,No,6000,0.0,141,360,1,Urban,Y,6000.0
4,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267,360,1,Urban,Y,9613.0

## Finding Total loan amount to pay

In [8]:
total_loan = df['Loan_Amount_Term'] * df['Loan_Amount']
df['Total_Loan']= total_loan
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,Applicant_Income,Coapplicant_Income,Loan_Amount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,Income,Total_Loan
0,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128,360,1,Rural,N,6091.0,46080
1,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66,360,1,Urban,Y,3000.0,23760
2,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120,360,1,Urban,Y,4941.0,43200
3,LP001008,Male,No,0,Graduate,No,6000,0.0,141,360,1,Urban,Y,6000.0,50760
4,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267,360,1,Urban,Y,9613.0,96120

### Labeling Categorical Data

In [9]:
df['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [10]:
df =df.replace("Male" , 0)
df =df.replace("Female" , 1)

In [11]:
df['Married'].unique()

array(['Yes', 'No'], dtype=object)

In [12]:
df =df.replace("No" , 0)
df =df.replace("Yes" , 1)

In [13]:
df['Dependents'].unique()

array(['1', '0', '2', '3+'], dtype=object)

In [14]:
df =df.replace("3+" , 3)

In [15]:
df['Education'].unique()

array(['Graduate', 'Not Graduate'], dtype=object)

In [16]:
df =df.replace("Not Graduate" , 0)
df =df.replace("Graduate" , 1)

In [17]:
df['Self_Employed'].unique()  ##replaced NO as 0 and yes as 1

array([0, 1], dtype=int64)

In [18]:
df['Credit_History'].unique()

array([1, 0], dtype=int64)

In [19]:
df['Property_Area'].unique()

array(['Rural', 'Urban', 'Semiurban'], dtype=object)

In [20]:
df =df.replace("Rural" , 0)
df =df.replace("Urban" , 1)
df =df.replace("Semiurban" , 2)

In [21]:
df['Loan_Status'].unique()

array(['N', 'Y'], dtype=object)

In [22]:
df =df.replace("N" , 0)
df =df.replace("Y" , 1)

## splitting data into test and train data sets

In [23]:
from sklearn.model_selection import train_test_split
from sklearn import metrics # for checking the model accuracy

train, test = train_test_split(df, test_size=0.3) 

print(train.shape , test.shape)

(70, 15) (30, 15)

In [24]:
df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'Applicant_Income', 'Coapplicant_Income',
       'Loan_Amount', 'Loan_Amount_Term', 'Credit_History', 'Property_Area',
       'Loan_Status', 'Income', 'Total_Loan'],
      dtype='object')

In [25]:
train_x = df[['Gender', 'Married', 'Dependents', 'Education',
              'Self_Employed','Loan_Amount', 'Loan_Amount_Term',
              'Credit_History', 'Property_Area', 'Income', 'Total_Loan']]
train_y = df.Loan_Status

test_x =  df[['Gender', 'Married', 'Dependents', 'Education',
              'Self_Employed','Loan_Amount', 'Loan_Amount_Term',
              'Credit_History', 'Property_Area', 'Income', 'Total_Loan']]
test_y = df.Loan_Status

In [26]:
classifiers = [LogisticRegression(),
               LinearSVC(),
               KNeighborsClassifier(),
               DecisionTreeClassifier(),
               SVC(kernel='rbf'),
               RandomForestClassifier(),
               GradientBoostingClassifier(),
               GaussianNB()]
classifier_names = ['LogisticRegression',
                    'SVM',
                    'KNearestNeighbors',
                    'DecisionTree',
                    'rbf SVM',
                    'RandomForestClassifier',
                    'GradientBoostingClassifier',
                    'GaussianNB']

In [27]:
accuracy=[]
d={}

for i in range(len(classifiers)):
    clf=classifiers[i]
    clf.fit(train_x,train_y)
    pred=clf.predict(test_x)
    accuracy.append(accuracy_score(pred,test_y)*100)
     
d={'Modelling Algorithm': classifier_names,'Accuracy':accuracy}
d

{'Modelling Algorithm': ['LogisticRegression',
  'SVM',
  'KNearestNeighbors',
  'DecisionTree',
  'rbf SVM',
  'RandomForestClassifier',
  'GradientBoostingClassifier',
  'GaussianNB'],
 'Accuracy': [69.0, 59.0, 69.0, 100.0, 100.0, 100.0, 100.0, 66.0]}

In [28]:
result = pd.DataFrame(d)

In [29]:
result

          Modelling Algorithm  Accuracy
0          LogisticRegression      69.0
1                         SVM      59.0
2           KNearestNeighbors      69.0
3                DecisionTree     100.0
4                     rbf SVM     100.0
5      RandomForestClassifier     100.0
6  GradientBoostingClassifier     100.0
7                  GaussianNB      66.0